<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    </head>

    <body>
        <section
            class="pt-5 pb-5 mt-0 align-items-center d-flex"
            style="min-height: 100vh"
        >
            <div class="container-fluid">
                <div
                    class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3 justify-content-center align-items-center d-flex-row text-center h-100"
                >
                    <div class="col col-md-4 col-lg-8 h-50 w-50">
                        <img
                            src="../../static/blood-donation-vector-illustration-signup.png"
                            class="img-fluid"
                            alt="Responsive image"
                            style="background-blend-mode: unset"
                        />
                    </div>
                    <div class="col col-md-4 col-lg-4 h-50">
                        <div class="card shadow">
                            <div class="card-body">
                                <h2
                                    class="card-title mt-3 mb-4 text-center px-2 text-danger"
                                >
                                    BloodBucket
                                </h2>
                                <form
                                    name="signup_form"
                                    action=""
                                    method="POST"
                                >
                                    <div
                                        class="form-group input-group flex-nowrap mb-3"
                                    >
                                        <span
                                            class="input-group-text"
                                            id="addon-wrapping"
                                            ><i
                                                class="fa fa-user"
                                                aria-hidden="true"
                                            ></i
                                        ></span>
                                        <input
                                            type="text"
                                            name="name"
                                            class="form-control"
                                            placeholder="Hospital Name"
                                            aria-label="Hospital Name"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                    </div>
                                    <div
                                        class="form-group input-group flex-nowrap mb-3"
                                    >
                                        <span
                                            class="input-group-text"
                                            id="addon-wrapping"
                                            ><i
                                                class="fa fa-envelope"
                                                aria-hidden="true"
                                            ></i
                                        ></span>
                                        <input
                                            type="email"
                                            name="email"
                                            class="form-control"
                                            placeholder="Email"
                                            aria-label="Email"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                    </div>
                                    <!-- div for address input  -->
                                    <div
                                        class="form-group input-group flex-nowrap mb-3"
                                    >
                                        <span
                                            class="input-group-text"
                                            id="addon-wrapping"
                                            ><i
                                                class="fa fa-map-marker"
                                                aria-hidden="true"
                                            ></i
                                        ></span>
                                        <input
                                            type="text"
                                            name="address"
                                            class="form-control"
                                            placeholder="Address"
                                            aria-label="Address"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                    </div>
                                    <!-- div for city input  -->
                                    <div class="input-group mb-3">
                                        <input
                                            type="text"
                                            name="city"
                                            class="form-control"
                                            placeholder="City"
                                            aria-label="City"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                        <span class="input-group-text">@</span>
                                        <select
                                            class="form-control inputstl"
                                            id="expertise"
                                            name="district"
                                        >
                                            <option value="Dhaka" selected>
                                                Dhaka
                                            </option>
                                            <option value="Chittagong">
                                                Chittagong
                                            </option>
                                            <option value="Rajshahi">
                                                Rajshahi
                                            </option>
                                            <option value="Khulna">
                                                Khulna
                                            </option>
                                            <option value="Barisal">
                                                Barisal
                                            </option>
                                            <option value="Sylhet">
                                                Sylhet
                                            </option>
                                        </select>
                                    </div>
                                    <div
                                        class="form-group input-group flex-nowrap mb-3"
                                    >
                                        <span
                                            class="input-group-text"
                                            id="addon-wrapping"
                                            ><i
                                                class="fa fa-phone"
                                                aria-hidden="true"
                                            ></i
                                        ></span>
                                        <input
                                            type="number"
                                            name="phone"
                                            class="form-control"
                                            placeholder="Phone Number"
                                            aria-label="Phone Number"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                    </div>
                                    <div class="input-group mb-3">
                                        <span
                                            class="input-group-text"
                                            id="basic-addon3"
                                            >A+</span
                                        >
                                        <input
                                            type="number"
                                            name="bloodGroupAP"
                                            class="form-control"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                        <span
                                            class="input-group-text"
                                            id="basic-addon3"
                                            >A-</span
                                        >
                                        <input
                                            type="number"
                                            name="bloodGroupAN"
                                            class="form-control"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                        <span
                                            class="input-group-text"
                                            id="basic-addon3"
                                            >B+</span
                                        >
                                        <input
                                            type="number"
                                            name="bloodGroupBP"
                                            class="form-control"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                        <span
                                            class="input-group-text"
                                            id="basic-addon3"
                                            >B-</span
                                        >
                                        <input
                                            type="number"
                                            name="bloodGroupBN"
                                            class="form-control"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                    </div>
                                    <div class="input-group mb-3">
                                        <span
                                            class="input-group-text"
                                            id="basic-addon3"
                                            >AB+</span
                                        >
                                        <input
                                            type="number"
                                            name="bloodGroupABP"
                                            class="form-control"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                        <span
                                            class="input-group-text"
                                            id="basic-addon3"
                                            >AB-</span
                                        >
                                        <input
                                            type="number"
                                            name="bloodGroupABN"
                                            class="form-control"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                        <span
                                            class="input-group-text"
                                            id="basic-addon3"
                                            >O+</span
                                        >
                                        <input
                                            type="number"
                                            name="bloodGroupOP"
                                            class="form-control"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                        <span
                                            class="input-group-text"
                                            id="basic-addon3"
                                            >O-</span
                                        >
                                        <input
                                            type="number"
                                            name="bloodGroupON"
                                            class="form-control"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                    </div>
                                    <div
                                        class="form-group input-group flex-nowrap mb-3"
                                    >
                                        <span
                                            class="input-group-text"
                                            id="addon-wrapping"
                                            ><i
                                                class="fa fa-lock"
                                                aria-hidden="true"
                                            ></i
                                        ></span>
                                        <input
                                            type="password"
                                            name="password"
                                            class="form-control"
                                            placeholder="Password"
                                            aria-label="Password"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                    </div>
                                    <div
                                        class="form-group input-group flex-nowrap mb-3"
                                    >
                                        <span
                                            class="input-group-text"
                                            id="addon-wrapping"
                                            ><i
                                                class="fa fa-lock"
                                                aria-hidden="true"
                                            ></i
                                        ></span>
                                        <input
                                            type="password"
                                            name="repassword"
                                            class="form-control"
                                            placeholder="Re-Password"
                                            aria-label="Re-Password"
                                            aria-describedby="addon-wrapping"
                                            required
                                        />
                                    </div>
                                    <div class="form-group mb-5">
                                        <button
                                            type="submit"
                                            name="submit"
                                            class="btn btn-danger btn-block fw-bold"
                                        >
                                            Signup
                                        </button>
                                    </div>
                                    {% if error != "" %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                    {% endif %}

                                    <div
                                        class="text-center bg-success p-2 my-2 rounded text-white fs-5 d-flex align-items-center"
                                        style="--bs-bg-opacity: 0.7"
                                    >
                                        Are you an User?
                                        <a
                                            class="btn btn-danger btn-sm flex-fill mx-2"
                                            href="/signup/user"
                                            >Signup as User</a
                                        >
                                    </div>
                                    <div class="fs-5 mt-4">
                                        <div class="text-center">
                                            Have an account?
                                            <a
                                                class="btn btn-primary btn-sm"
                                                href="/login/hospital"
                                                >Login</a
                                            >
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
    </body>
</html>
