{% extends "base.html" %} {% block title %}Donner - {{donner['name']}}{%
endblock %} {% block content %}
<div>
    <div
        class="text-center shadow mt-2 rounded"
        style="
            background-color: #d43838;
            padding-bottom: 15em;
            padding-top: 1em;
        "
    >
        <h1 class="text-white border-bottom border-5">Donner Details</h1>
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 mt-2">
        <div
            class="col d-flex justify-content-center"
            style="margin-top: -15em"
        >
            <img
                src="../../static/user-info-2.png"
                class="img-fluid"
                alt="Responsive image"
            />
        </div>
        <div
            class="col d-flex justify-content-center"
            style="margin-top: -15em"
        >
            <div class="card text-bg-danger w-75 text-center pb-3">
                <div class="card-body">
                    <div class="rounded px-2 py-4">
                        <h2 class="card-text mb-4">{{donner['name']}}</h2>
                        <h4 class="card-text">
                            <i
                                class="fa fa-heart"
                                aria-hidden="true"
                                style="color: white"
                            ></i>
                            {{donner['bloodGroup']}}
                        </h4>
                    </div>
                    <div class="px-2 py-4" style="background-color: #9d4242">
                        <h4 class="card-text mb-4">
                            <i
                                class="fa fa-phone"
                                aria-hidden="true"
                                style="color: white"
                            ></i>
                            {{donner['phone']}}
                        </h4>
                        <h4 class="card-text">
                            <i
                                class="fa fa-envelope"
                                aria-hidden="true"
                                style="color: white"
                            ></i>
                            {{donner['email']}}
                        </h4>
                    </div>

                    <div class="px-2 py-4">
                        <h4 class="card-text">
                            last donation date
                            <i
                                class="fa fa-calendar"
                                aria-hidden="true"
                                style="color: white"
                            ></i>
                            {{donner['lastDonation']}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{% endblock %}
